
/* page-2 design */
#page-2 {
    width: 100%;
    padding: 141px 134px 128px 135px;
    background: #fdf0e9;
  }
  
  #page-2 h1 {
    color: var(--text-dark-accent, #ef6d58);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #page-2 h2 {
    margin-top: 17px;
    color: var(--text-dark, #391400);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }
  
  #page-2 ul {
    display: flex;
    margin-top: 35px;
  }
  
  #page-2 ul li {
    width: 391px;
    padding: 48px 48px 52px 48px;
    list-style-type: none;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #f3d1bf;
    position: relative;
  }
  #page-2 ul li .image-box {
    position: relative;
    width: 80px;
    height: 80px;
  }
  #page-2 ul li img {
    width: 80px;
    height: 80px;
  }
  
  #page-2 ul li .image {
    width: 32px;
    height: 32px;
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #page-2 ul li h3 {
    margin-top: 41px;
    color: var(--text-dark, #391400);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  
  #page-2 ul li p {
    margin-top: 19px;
    color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  
  #page-2 ul li a {
    margin-top: 26px;
    color: var(--text-dark, #391400);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }
  