@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.founder-words-container {
  width: 100%;
  padding: 180px 135px 176px 135px;
  background: #28293e;
  display: flex;
  justify-content: space-between;
}

.founder-words-container .left-container {
  width: 570px;
  height: 448px;
  position: relative;
}

.founder-words-container .left-container .image-1 {
  width: 570px;
  height: 448px;
}

.founder-words-container .left-container .image-2 {
  width: 477px;
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.founder-words-container .right-container {
  /* width: 40%; */
  position: relative;


}

.founder-words-container .right-container .box-1{
}

.founder-words-container .right-container .box-1  {
  width: 100px;
  height: 80px;
  position: absolute;
  right: 48px;
    top: 53px;
  /* right: 15%; */
  z-index: 1;
}

.founder-words-container .right-container .box-2 {
  /* position: relative; */
  padding-top: 44px;

}

.founder-words-container .right-container .box-2 h1 {
  margin-bottom: 33px;
  color: var(--Text_Light_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.founder-words-container .right-container .box-2 p {
  width: 470px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}

.founder-words-container .right-container .box-2 h2 {
  margin-top: 44px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.founder-words-container .right-container .box-2 h3 {
  margin-top: 6px;
  color: var(--Text_Light_Gray, rgba(255, 255, 255, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
